@import url("_zero.css");

html,
body {
	font-family: "Open Sans", sans-serif;
}

.hidden {
	visibility: hidden;
}

.container {
	max-width: 1190px;
	margin: 0 auto;
}

.container770 {
	max-width: 770px;
	margin: 0 auto;
}

.title {
	font-size: 44px;
	line-height: 1.5;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 80px;

	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 5px;
		width: 100px;
		background-color: #fcac45;
	}
}

// HEADER //

.header {
	background: #111111;

	&__row {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	&__top {
		height: 110px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #fff;
		text-transform: uppercase;

		& a {
			color: inherit;
			margin-left: 30px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&__logo {
		font-size: 24px;
		line-height: 24px;
		font-weight: 800;
		transition: .3s;

		&:hover {
			color: #fcac45;
		}
	}

	&__nav {
		display: flex;
		flex-wrap: wrap;
	}

	&__link {
		font-size: 14px;
		line-height: 24px;
		font-weight: 700;
		position: relative;

		&:after,
		&:before {
			position: absolute;
			content: "";
			width: 100%;
			height: 3px;
			background-color: #fcac45;
			left: 0;
			transform: scaleX(0);
			transition: .3s;
		}

		&:after {
			bottom: -10px;
		}

		&:before {
			top: -10px;
		}

		&:hover:after,
		&:hover:before {
			transform: scaleX(1);
		}
	}

	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: #fff;

	}

	&__title {
		font-size: 44px;
		line-height: 1.2;
		font-weight: 300;
		text-transform: uppercase;
		color: #999999;
		margin-bottom: 20px;

		& span {
			font-weight: 700;
			color: #fcac45;
		}
	}

	&__subtitle {
		font-size: 20px;
		line-height: 24px;
		font-weight: 400;
		color: #ffffff;

		& span {
			font-weight: 700;
		}
	}
}

// ABOUT //
.about {
	padding: 100px 0;

	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__left {
		display: flex;
		flex: 1 0 50%;
		background-color: #fff;

		& img {
			max-width: 100%;
		}
	}

	&__right {
		max-width: 500px;
	}

	&__title {
		font-size: 34px;
		line-height: 37px;
		font-weight: 400;
		text-transform: uppercase;
		color: #222222;
		position: relative;
		display: inline-block;
		padding: 20px 0;
		margin-bottom: 30px;

		& span {
			font-weight: 700;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: #fcac45;
		}
	}

	&__text {
		margin-bottom: 40px;
		font-size: 18px;
		line-height: 25px;
		font-weight: 400;
		color: #6c6c6c;
	}

	&__paragraphs li {
		font-size: 16px;
		font-weight: 400;
		font-style: italic;
		padding-left: 30px;
		position: relative;
		margin-bottom: 12px;

		& span {
			font-size: 18px;
			line-height: 25px;
			font-weight: 600;
			color: #5a5a5a;
			font-style: normal;
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 6px;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #5a5a5a;
			box-shadow: 0 0 0 3px #fff, 0 0 0 5px #5a5a5a;
		}
	}
}

// TEAM //
.team {
	background: #111111;
	color: #fff;
	padding: 100px 0 160px;

	&__title {
		color: #fff;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
	}
}

.team-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	flex: 1 0 25%;
	padding: 0 20px;

	&__photo {
		width: 128px;
		height: 128px;
		overflow: hidden;
		border-radius: 50%;
		margin-bottom: 20px;
		background-color: #5a5a5a;
	}

	&__photo img {
		width: 100%;
		height: auto;
	}

	&__name {
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	&__prof {
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 30px;
	}

	&__text {
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
	}
}

// SERVICES //
.services {
	background: #fff;
	padding: 100px 0;
	text-align: center;

	&__title {
		color: #222222;
	}

	&__text {
		font-size: 16px;
		line-height: 1.5;
		font-weight: 400;
		font-style: italic;
		color: #6c6c6c;
		margin-bottom: 100px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
	}
}

.services-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 25%;
	padding: 0 20px;

	&__img {
		width: 125px;
		height: 125px;
		margin-bottom: 25px;
		border: 5px solid #fcac45;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__title {
		font-size: 25px;
		line-height: 1.5;
		font-weight: 600;
		text-transform: uppercase;
		color: #222222;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 14px;
		line-height: 1.5;
		font-weight: 400;
		color: #222222;
	}
}

// CLIENTS //
.clients {
	background: #000;
	padding: 100px 0 200px;

	&__title {
		color: #fff;

		& span {
			font-weight: 300;
		}
	}

	&__brands {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
}

// WORKS //
.works {
	background: #fff;
	padding: 100px 25px;

	&__title {
		color: #222222;

		& span {
			font-weight: 300;
		}
	}

	&__text {
		text-align: center;
		color: #6c6c6c;
		font-size: 16px;
		font-style: italic;
		line-height: 1.5;
		margin-bottom: 90px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0px -15px;
	}

	&__item {
		width: 25%;
		padding: 15px 15px;
	}
}

// TESTIMONIALS //
.testimonials {
	background: #000;
	padding: 100px 0 150px;

	&__title {
		color: #fff;

		& span {
			font-weight: 300;
		}
	}

	&__text {
		margin: 0 auto;
		text-align: center;
		width: 930px;
		color: #e7e7e7;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5;
		text-transform: uppercase;
		margin-bottom: 45px;
	}

	&__name {
		color: #b2b2b2;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.5;
		text-align: center;

		& span {
			font-weight: 300;
		}
	}
}

.contacts {
	background-color: #fff;
	padding: 100px 0;

	&__title {
		color: #222222;
	}

	&__text {
		color: #6c6c6c;
		font-size: 16px;
		font-style: italic;
		line-height: 1.5;
		text-align: center;
		margin-bottom: 95px;
	}
}

.form {
	width: 100%;

	&__body {}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__item {
		// margin-bottom: 15px;
	}

	&__label {
		display: block;
		margin-bottom: 15px;
		color: #636363;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5px;
	}

	&__input {
		width: 360px;
		height: 40px;
		border: 1px solid rgba(0, 0, 0, 0.4);
		background-color: #ffffff;
		padding: 0 15px;
	}
	& textarea {
		min-height: 160px;
		// resize: vertical;
		resize: vertical;
	}
	&__text {
		padding: 15px;
		width: 100%;
		min-height: 160px;
		border: 1px solid rgba(0, 0, 0, 0.4);
		margin-bottom: 30px;
	}

	&__btn {
		display: flex;
		justify-content: flex-end;
	}

	&__button {
		padding: 15px 60px;
		background: #fcac45;

		color: #ffffff;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}



.footer {
	height: 100px;
	background: #000;

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
	}
}

.icon {
	&__link {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-right: 13px;
		width: 35px;
		height: 35px;
		border: 3px solid #b2b2b2;
		border-radius: 50%;
	}

	&__svg {
		width: 15px;
		height: 15px;
		fill: #b2b2b2;
	}
}